

h1, h2, h3   {
    color: #4CAF50;
}







body {
   background-color: #F5F5DC;
   padding: 0;
   margin: 0;
   font-family: 'poppins', sans-serif;
}


.logo {
   height: 100px;
   max-width: 100px;
}


.images {
   height: 150px;
   width: 100%;
   object-fit: cover;
}




.hebergements {
   display: flex;
   flex-direction: row;
}


.hebergements-cart {
   
   box-shadow:  0 2px 5px rgba(15, 15, 15, 0.5) ;
   max-width: 20%;
   padding: 20px;
   margin-left: 20px;
   
 
}


button {
   background-color: #4CAF50;
   border-radius: 6px;
   padding: 10px 20px;
   

}

button:hover {
   
   transform: translateY(-2px);
   box-shadow:  0 2px 5px rgba(15, 15, 15, 0.5) ;
}