.logo {
    height: 100px;
    max-width: 100px;
}


.images {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

header {
    background-color: #F5F5DC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    width: 50%;

}

.menu ul {

    display: flex;
    justify-content: space-between;
    align-items: end;

}

.menu li {
    list-style-type: none;
    text-decoration: none;
}

.menu a {
    list-style-type: none;
    text-decoration: none;
}

footer {
    background-color: #F5F5DC;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;



}

.foot {
    width: 30%;

}

.foot li {
    list-style-type: none;
    text-decoration: none;
}

.foot a {
    list-style-type: none;
    text-decoration: none;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

  

@media screen and (max-width:756px) {
  .menu {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}

@media screen and (min-width:757px) {
  .menu-burger {
    display: none;
  }

  .menu {
    display: block;
  }
}